.App {
  background-color: #f9fafa;
  font-family: 'Courier New', Courier, monospace
}

/* Voltear la imagen horizontalmente */
.invertir-img {
  @apply transform scale-x-[-1];
}

.mi-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}